<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="nickname">
      <th mat-header-cell *matHeaderCellDef> Nombre de usuario </th>
      <td mat-cell *matCellDef="let element"> {{element.nickname}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="lastName1">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.lastname1}} </td>
    </ng-container>
    <ng-container matColumnDef="lastName2">
      <th mat-header-cell *matHeaderCellDef> Segundo Apellido </th>
      <td mat-cell *matCellDef="let element"> {{element.lastname2}} </td>
    </ng-container>

    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef> Dni </th>
      <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
    </ng-container>

    <ng-container matColumnDef="country">
      <th mat-header-cell *matHeaderCellDef> Pais </th>
      <td mat-cell *matCellDef="let element"> {{element.country}} </td>
    </ng-container>

    <ng-container matColumnDef="postalCode">
      <th mat-header-cell *matHeaderCellDef> Codigo Postal </th>
      <td mat-cell *matCellDef="let element"> {{element.postalCode}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button value={{element.dni}} color="primary" aria-label="Delete button" (click)="delete_user(element)">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-icon-button value={{element.dni}} color="primary" aria-label="Profile button" (click)="router_to_profile(element)">
          <mat-icon>visibility</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
